.container {

    width: 40%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    margin: 80px auto;
    padding: 20px;
    border-radius: 10px;
}

.search-form-input {

    width: 85%;
    padding: 10px 15px;
    border: 1px solid transparent;
    background-color: #d1cfcf;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
}

.search-form-input:hover {

    background-color: #bbbaba;
}

.search-form-input:focus {

    background-color: #d1cfcf;
    border: 2px solid rgb(147, 147, 161);
    

}

.search-form-submit {

    padding: 10px 20px;
    background-color: rgb(235, 58, 88);
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: opacity 0.15s;
}

.search-form-submit:hover {

    opacity: 0.9;
}
.city-weather {

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.city-temperature {

    display: flex;
    align-items: center;
}

.city-temperature img {

    width: 50px;
}

.city-temperature span {

    font-size: 50px;
    font-weight: bold;
}

#image-icon img{

    width: 80px;
    
}

#myDate {

    color: #000;
}

.paragraph span {

    color: rgb(235, 58, 88);
    font-weight: bold;
}

.paragraph {

    line-height: 1.5;
}

.city-weather h2 {

    margin: 0 0 10px 0;
    font-size: 40px;
}

.city-details #weatherCondition {

    color: #000;
    font-weight: normal;
}

hr {
    margin: 50px 0;
    border: none;
    height: 1px;
    background-color: rgb(152, 147, 147)

}

footer p {

    font-size: 14px;
    text-align: center;
}

footer a {

    color: rgb(235, 58, 88);
}

footer a:hover {

    color: rgb(203, 73, 95)
}

.weather-forecast .day-of-the-week {

    text-align: center;
}

.weather-forecast img {

    display: block;
    margin: 0 auto;
}


.temperature-container {

    display: flex;
    justify-content: center;
    
}

.temperature-container div {

    color: rgb(209, 22, 93);
    font-weight: bold;
    padding: 0 10px;
}

.forecast-container {

    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}